node-red/subflow.json
[
    {
        "id": "1740557087110d8c",
        "type": "subflow",
        "name": "ays-agent",
        "info": "# Node-RED ays-agent\n\nThis provides an interface to the At Your Service agent from within Node-RED. This is accomplished by adding an `ays-agent` subflow and adding two global environment variables.\n\n## Installation\n\n### Add Environment Variables\n\nTap the menu button on the top right of the menu > `Settings` > `Environment`. Add these environment variables:\n\n- `AYS_SERVER` with the value `http://localhost:9443/agent/`. If necessary, please change this to your location of your local instance\n- `AYS_ORG_SECRET` with the value of your respective Organization's secret.\n  - To find your secret, navigate to the top-most org node in your System Graph\n  - Tap the `Edit` mode\n  - Tap the top-mode Node\n  - Tap the `Organization configuration`\n  - Tap the \"Copy\" icon in the `Secret` row\n  - Paste this value into your `AYS_ORG_SECRET` environment variable value\n\n### Install the Subflow from NPM\n\nTBD:\n\n## Usage\n\nDrag the `ays-agent` subflow node. It should be located in the `network` category.\n\nConnect any of your HW/SW systems to the `ays-agent` input. The input must be a numeric value.\n\nRequired parameters:\n- Server . Unless you need a different server, leave this as `AYS_SERVER` or update the environment variable.\n- Org Secret. If you are sending messages to multiple orgs (uncomment),  leave this as `AYS_ORG_SECRET` or update the environment variable.\n- Parent node path. This is the parent node your child will live under.\n- Child node name. Please use the character range [a-z0-9], or the hyphen, where the first character in the name is a letter. e.g. `my-node-01`\n\nOptional configuration:\n- Monitor name. The name of the monitor. If none is provided, `node-red` is used.\n- Heartbeat. The default is set for 5 minutes. If you don't want to monitor the node, set the heartbeat value to `0`.\n- Template. Adopt a template located at the specified node path.\n\n## Outro\n\nDo you need help? Do you have a feature suggestion? Please call me at 253-329-1280.",
        "category": "network",
        "in": [
            {
                "x": 100,
                "y": 120,
                "wires": [
                    {
                        "id": "430863a5326ead70"
                    }
                ]
            }
        ],
        "out": [],
        "env": [
            {
                "name": "AYS_SERVER",
                "type": "env",
                "value": "AYS_SERVER",
                "ui": {
                    "icon": "font-awesome/fa-plug",
                    "label": {
                        "en-US": "Server"
                    }
                }
            },
            {
                "name": "AYS_ORG_SECRET",
                "type": "env",
                "value": "AYS_ORG_SECRET",
                "ui": {
                    "icon": "font-awesome/fa-key",
                    "label": {
                        "en-US": "Org Secret"
                    }
                }
            },
            {
                "name": "AYS_PARENT",
                "type": "str",
                "value": "",
                "ui": {
                    "label": {
                        "en-US": "Parent Node"
                    }
                }
            },
            {
                "name": "AYS_CHILD",
                "type": "str",
                "value": "",
                "ui": {
                    "label": {
                        "en-US": "Child Node"
                    }
                }
            },
            {
                "name": "AYS_MONITOR_NAME",
                "type": "str",
                "value": "",
                "ui": {
                    "label": {
                        "en-US": "Monitor Name"
                    }
                }
            },
            {
                "name": "AYS_HEARTBEAT",
                "type": "num",
                "value": "300",
                "ui": {
                    "icon": "font-awesome/fa-clock-o",
                    "label": {
                        "en-US": "Heartbeat (Seconds)"
                    }
                }
            },
            {
                "name": "AYS_TEMPLATE",
                "type": "str",
                "value": "",
                "ui": {
                    "icon": "font-awesome/fa-copy",
                    "label": {
                        "en-US": "Template"
                    }
                }
            }
        ],
        "meta": {
            "module": "ays-agent",
            "version": "1.0.0",
            "author": "Eric Chamberlain",
            "desc": "Send sample values from HW/SW systems to the At Your Service agent.",
            "keywords": "node-red,ays-agent",
            "license": "MIT"
        },
        "color": "#DDAA99",
        "inputLabels": [
            "Sample value"
        ],
        "icon": "node-red/bridge.svg",
        "status": {
            "x": 940,
            "y": 260,
            "wires": [
                {
                    "id": "430863a5326ead70",
                    "port": 0
                },
                {
                    "id": "89e7cf405b062c67",
                    "port": 0
                }
            ]
        }
    },
    {
        "id": "10dca92c4fcce83a",
        "type": "http request",
        "z": "1740557087110d8c",
        "name": "",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "Content-Type",
                "keyValue": "",
                "valueType": "application/json",
                "valueValue": ""
            }
        ],
        "x": 650,
        "y": 120,
        "wires": [
            [
                "0af670aec32b0f85",
                "89e7cf405b062c67"
            ]
        ]
    },
    {
        "id": "430863a5326ead70",
        "type": "function",
        "z": "1740557087110d8c",
        "name": "create_payload",
        "func": "var server = env.get(\"AYS_SERVER\").trim();\nvar org_secret = env.get(\"AYS_ORG_SECRET\").trim();\nvar parent_node = env.get(\"AYS_PARENT\").trim();\nvar child_node = env.get(\"AYS_CHILD\").trim();\nvar monitor_name = env.get(\"AYS_MONITOR_NAME\").trim();\nvar heartbeat = env.get(\"AYS_HEARTBEAT\");\nvar template = env.get(\"AYS_TEMPLATE\").trim();\n\n// TODO: What happens if server is not set?\n\n// Set the \"error\" status of the node\nfunction set_error(msg, text) {\n    var status = ({fill: \"red\", shape: \"ring\", text: text});\n    msg.payload = status;\n    return msg;\n}\n\nif (server.length == 0) {\n    node.error(\"A global AYS_SERVER variable must be configured\");\n    return set_error(msg, \"AYS_SERVER required\");\n}\nif (org_secret.length == 0) {\n    node.error(\"A global AYS_ORG_SECRET must be configured\");\n    // TODO: Display an error under the node\n    return set_error(msg, \"AYS_ORG_SECRET required\");\n}\nif (parent_node.length == 0) {\n    node.error(\"A parent node must be provided\");\n    return set_error(msg, \"Parent Node is required\");\n}\nif (child_node.length == 0) {\n    node.error(\"A child node, or child relative path, must be provided\");\n    return set_error(msg, \"Child Node is required\");\n}\nif (monitor_name.length == 0) {\n    monitor_name = \"node-red\";\n}\n\nvar payload = {\n    org_secret: org_secret, // \"zki8y1v\"\n    parent: {\n        property: \"path\",\n        value: parent_node\n    },\n    relationship: {\n        type: \"child\",\n        monitor_name: monitor_name,\n        path: child_node\n    },\n    value: {\n        name: \"value\",\n        value: msg.payload\n    },\n    check: true\n};\n\nif (template.length != 0) {\n    payload.template = template;\n}\n\nif (heartbeat > 0) {\n    payload.heartbeat = {\n        \"timeout\": heartbeat,\n        \"level\": \"critical\"\n    }\n}\n\nmsg.url = server;\nmsg.aysPayload = payload;\nmsg.payload = ({ fill: \"green\", shape: \"dot\"});\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 240,
        "y": 120,
        "wires": [
            [
                "01c21f55db62e84d"
            ]
        ]
    },
    {
        "id": "0af670aec32b0f85",
        "type": "debug",
        "z": "1740557087110d8c",
        "name": "Debug",
        "active": true,
        "tosidebar": false,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 830,
        "y": 60,
        "wires": []
    },
    {
        "id": "01c21f55db62e84d",
        "type": "function",
        "z": "1740557087110d8c",
        "name": "filter_error_status",
        "func": "// Filter messages that have no URL. This happens when an \"error\" status message\n// is shown. Terminate out the flow immediately.\nif (msg.url == null) {\n    return null;\n}\n\nmsg.payload = msg.aysPayload;\ndelete msg.aysPayload;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 120,
        "wires": [
            [
                "10dca92c4fcce83a"
            ]
        ]
    },
    {
        "id": "89e7cf405b062c67",
        "type": "function",
        "z": "1740557087110d8c",
        "name": "status",
        "func": "// If error occurred, display error status\nif (msg.statusCode >= 400 || msg.statusCode == \"ECONNREFUSED\") {\n    if (typeof msg.payload === \"string\" || msg.payload instanceof String) {\n        node.error(msg.payload, msg);\n        msg.payload = ({ fill: \"red\", shape: \"ring\", text: \"Request failed: \" + msg.statusCode });\n    }\n    else {\n        node.error(msg.payload.error.message, msg);\n        msg.payload = ({ fill: \"red\", shape: \"ring\", text: msg.payload.error.message });\n    }\n}\nelse {\n    node.error(msg)\n    msg.payload = ({fill: \"green\", shape: \"dot\"});\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 830,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "3287b886e8bd6bbb",
        "type": "subflow:1740557087110d8c",
        "z": "1c6a5a2f2311697a",
        "name": "",
        "x": 300,
        "y": 400,
        "wires": []
    }
]
